#col1, #col2 {
  display: inline-block;
}
svg {
    border: 1px dashed gray;
}
#results, #container {
    display: inline-block;
    margin: 15px;
}
p {
    margin: 15px;
}
td {
  border: 1px solid #bbb;
}
.header {
  font-weight: bold;
}

#editor {
  height: 700px;
  width: 500px;
  border: 1px solid #bbb;
}
